<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body class="container">
    <!-- We control the elements by id in Vue -->
    <div id="shopping-list">
        <div class="row">
            <!-- {{}} The mustache is a placeholder for view content -->
            <h1>
                {{ header.toLocaleUpperCase() }}
                <button v-if="state === 'default'" class="btn btn-info" @click="changeState('edit')">Add item</button>
                <button v-else="state === 'edit'" class="btn btn-secondary" @click="changeState('default')">Cancel</button>
            </h1>
        </div>
        <!-- Button for adding items in the list -->
        <div v-if="state === 'edit'" class="add-item-form">
            <!-- Adding items to list -->
            <!-- v-on has a shortcut, it can be replaced by @ -->
            <div class="row">
                <input type="text" v-model="newItem" placeholder="Add an item." @keyup.enter="saveItem">
                <p>{{ characterCount}}/200</p>
                <!-- v-bind:disabled="newItem.length === 0" will disable the button if there is no content in input -->
                <!-- v-bind can be shortened to a : -->
                <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Add</button>
                <button class="btn btn-danger" @click="items.pop()">Remove</button>
            </div>
        </div>
        <!-- We can type in the URL inside the input and click on the dynamic link to visit it -->
        <!-- <a v-bind:href="newItem" target="_blank">Dynamic Link</a> -->
        <!-- Looping over list items -->
        <ul>
            <!-- First way -->
            <li v-for='item in reversedItems' :class="{strike: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
            <!-- Second Way -->
            <!-- <li v-for='item in items' :class="[item.purchased ? 'strike' : '']">{{ item.label }}</li>    -->
        </ul>
        <p v-if="items.length == 0">You have nothing in your list!</p>
    </div>
    <!-- Include Vue into HTML -->
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <!-- Vue scripting -->
    <script>
        // The el controls the element in Vue and the data controls the data
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'Shopping list app',
                newItem: {
                    label: '',
                    purchased: false,
                },
                items: [{
                    label: '10 mangoes',
                    purchased: false,
                }, 
                {
                    label: '25 lychees',
                    purchased: true,
                }, 
                {
                    label: '20 cherries',
                    purchased: false,
                },
                ]
            },
            computed: {
                characterCount(){
                    return this.newItem.length;
                },
                reversedItems(){
                    return this.items.slice(0).reverse();
                },
            },
            methods: {
                saveItem: function () {
                    this.items.push({
                        label: this.newItem,
                        purchased: false,
                    });
                    this.newItem = '';
                },
                changeState: function (newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function (item) {
                    item.purchased = !item.purchased;
                }

            }
        });

        // In the console type: shoppingList.$data.header = "Some Text"
    </script>
</body>

</html>